<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "modules/midi-qol/templates/activity/parts/attack-details.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/attack-damage.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/save-details.hbs" }}
    {{> "modules/midi-qol/templates/activity/parts/attackSave-damage.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}

</section>