<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/dnd5e/templates/activity/parts/check-details.hbs" }}
    {{> "modules/midi-qol/templates/activity/parts/use-condition.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/save-damage.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}
</section>
