<div class="midi-qol-single-hit-card">
  {{#unless oneCard}}
  <div>{{attackType}}</div>
  {{/unless}}
  <div class="dnd5e2 evaluation">
    {{#each hits as |hit iid|}}
    <div>
      <div class="target {{hit.hitClass}}" style="height: 38px; align-content: center;">
        <img src="{{hit.img}}" height="30" style="max-height: 95%; aspect-ratio: 1; width: unset;border-width: 2px;" />
        <div class="name-stacked">
          <span class="midi-qol-target-name title" id="{{hit.target.id}}" data-uuid="{{hit.target.document.uuid}}">
            <div class="midi-qol-gmTokenName">
            {{{hit.gmName}}}
            </div>
            <div class="midi-qol-playerTokenName">
            {{hit.playerName}}
            </div>
            <i class="fas {{hit.hitSymbol}}"></i>
          </span>
        </div>
        {{#if showAC}}
        <div class="{{hit.acClass}}">
          <span>
          <i class="fas fa-shield-halved"></i>
          {{#if hit.bonusAC}}
          <span style="font-weight: bold;">{{hit.ac}}+{{hit.bonusAC}}</span>
          {{else}}
          <span style="font-weight: bold;">{{hit.ac}}</span>
          {{/if}}
          </span>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>